<h1><%=@recommend.name%>に行きましょう</h1>
<ul>
   <li>住所：<%= @recommend.adress %></li>
   <li>電話番号：<%= @recommend.tel %></li>
   <li>定休日：<%= @recommend.regular_holiday %></li>
   <li>開店時間：<%= @recommend.open%> - <%= @recommend.close %></li>
</ul>

